@page
@model FytSoa.Web.Pages.FytAdmin.Stock.ExportModel
@{
    ViewData["Title"] = "出库管理";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <style>
        .layui-col-220 {
            width: 400px;
        }

        .right-col-body {
            left: 400px;
        }
    </style>
    <div class="layui-col-220" id="app">
        <div class="layui-nav-title">出库单　　　<button class="layui-btn layui-btn-sm" id="addIn"><i class="layui-icon"></i>新增出库单</button></div>
        <ul class="fyt-utree">
            <li v-for="it in list" v-cloak :class="{active: activeName == it.guid}" @@click="selected(it.guid)">
                <a class="layui-elip title" @@click="getList(it)">{{it.packName}}——{{it.shopName}}</a>
                <a class="layui-elip sums"><span class="layui-badge layui-bg-blue">{{it.goodsSum}}</span></a>
                <span class="tool" @@click="tools(it,$event)"><i class="layui-icon layui-icon-more"></i></span>
            </li>
        </ul>
        <dl class="layui-nav-child fyt-task-menu layui-hide">
            <dd><a @@click="edit()">修改</a></dd>
            <dd><a @@click="deletes()">删除</a></dd>
        </dl>
    </div>
    <div class="right-col-body">
        <div class="list-wall">
            <div class="layui-form list-search">
                <div class="layui-inline">
                    <input class="layui-input" id="key" autocomplete="off" placeholder="请输入关键字查询">
                </div>
                <div class="layui-inline">
                    <select id="shops" lay-search="">
                        <option value="">--可根据店铺搜索--</option>
                        @{
                            foreach (var item in Model.shopList)
                            {
                                <option value="@item.Guid">@item.ShopName</option>
                            }
                        }
                    </select>
                </div>
                <div class="layui-inline lay-time-icon">
                    <input class="layui-input" id="times" autocomplete="off" placeholder="时间区间"><i class="layui-icon layui-icon-date"></i>
                </div>
                <div class="layui-inline">
                    <select id="branks">
                        <option value="">--可根据品牌搜索--</option>
                        @{
                            foreach (var item in Model.codeList)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch">
                    <i class="layui-icon layui-icon-search"></i> 搜索
                </button>
            </div>
            <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        </div>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolDel"><i class="layui-icon"></i> 删除</button>
        </div>
    </script>
    <script type="text/javascript" src="~/themes/js/modules/vue.js"></script>
    <script>
        var funTool, vm = new Vue({
            el: "#app",
            data: {
                list: [],
                curModel: {},
                activeName: ''
            },
            methods: {
                selected: function (m) {
                    this.activeName = m;
                },
                getList: function (m) {
                    funTool.getGoodsSku(m);
                },
                tools: function (m, event) {
                    this.curModel = m;
                    funTool.tool(event);
                },
                edit: function () {
                    funTool.edit();
                },
                deletes: function () {
                    funTool.deletes();
                }
            }
        });
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'form', 'common', 'laydate'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    laydate = layui.laydate,
                    form = layui.form;
                form.render('select');
                laydate.render({
                    elem: '#times'
                    , theme: '#393D49'
                    , format: 'yyyy/MM/dd'
                    , range: true
                });
                $("ul.fyt-utree").css({ 'height': $(window).height() - 130 });
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/stock/inoutlist?types=2',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'code', width: 200, title: '条形码', fixed: 'left' },
                            { field: 'brankName', title: '品牌' },
                            { field: 'styleName', title: '款式' },
                            { field: 'stockSum', width: 150, title: '入库数量', sort: true },
                            { field: 'addDate', title: '添加时间' },
                            { width: 100, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    limit: 15,
                    id: 'tables'
                });

                $(document).click(function (e) {
                    var _target = $(e.target);
                    if (_target.closest(".fyt-task-menu").length == 0) {
                        $(".fyt-task-menu").addClass('layui-hide');
                    }
                });


                var packguid = '', shopGuid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    packGuid: packguid,
                                    guid: $('#shops').val(),
                                    key: $('#key').val(),
                                    brank: $('#branks').val()
                                }
                            });
                    },
                    toolSearch: function () {
                        active.reload();
                    },
                    addIn: function () {
                        os.Open('新增出库单', '/fytadmin/stock/packlog/?types=2', '600px', '400px', function () {
                            funTool.packPage();
                        });
                    },
                    toolAdd: function () {
                        if (packguid === '') {
                            os.warning('请选择出库单~');
                            return;
                        }
                        os.Open('添加出库信息', '/fytadmin/stock/exportmodify/?packguid=' + packguid + '&shopguid=' + shopGuid, '600px', '350px', function () {
                            active.reload();
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.warning("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/stock/delinout/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };

                funTool = {
                    getGoodsSku: function (obj) {
                        packguid = obj.guid;
                        shopGuid = obj.shopGuid;
                        active.reload();
                    },
                    packPage: function () {
                        os.ajax('api/stock/packloglist', { types: 2, time: $('#times').val(), guid: $('#shops').val(), key: $('#key').val() }, function (res) {
                            if (res.statusCode === 200) {
                                vm.list = res.data.items;
                            } else {
                                os.error(res.message);
                            }
                        });
                    },
                    edit: function () {
                        $(".fyt-task-menu").addClass('layui-hide');
                        os.Open('修改出库单', '/fytadmin/stock/packlog/?guid=' + vm.curModel.guid + '&types=2', '600px', '400px', function () {
                            funTool.packPage();
                        });
                    },
                    deletes: function () {
                        $(".fyt-task-menu").addClass('layui-hide');
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/stock/delpacklog/', { parm: vm.curModel.guid }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    funTool.packPage();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });
                    },
                    tool: function (event) {
                        event.stopPropagation();
                        event.preventDefault();
                        var obj = $(event.target).offset();
                        $(".fyt-task-menu").css({ 'top': obj.top - 30, 'left': '275px' });
                        if ($('.fyt-task-menu').hasClass('layui-hide')) {
                            $(".fyt-task-menu").removeClass('layui-hide');
                        } else {
                            $(".fyt-task-menu").addClass('layui-hide');
                        }
                    }
                }
                //初始化入库单管理
                funTool.packPage();

                $("#addIn").on('click', function () {
                    active.addIn();
                });
                table.on('toolbar(tool)', function (obj) {
                    active[obj.event] ? active[obj.event].call(this) : '';
                });
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                    funTool.packPage();
                });
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('修改出库信息', '/fytadmin/stock/exportmodify/?guid=' + data.guid, '600px', '350px', function () {
                            active.reload();
                        });
                    }
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>

