@page
@model FytSoa.Web.Pages.FytAdmin.Stock.ImportModel
@{
    ViewData["Title"] = "入库管理";
    Layout = AdminLayout.Pjax(HttpContext);
}
<style>
    .layui-col-220{width:400px;}
    .right-col-body{left:400px;}
    .fyt-utree{padding-left:10px;}
    .fyt-utree li{height:40px; line-height:40px; position:relative;border-bottom:1px solid #e6e6e6;}
    .fyt-utree li.active{background-color:#f3f3f3;}
    .fyt-utree li a{display:inline-block;cursor:pointer;}
    .fyt-utree li a.title{ width:75%; overflow:hidden; float:left; padding-right:15px;}
    .fyt-utree li a.sums{width:40px;  float:left;}
    .fyt-utree li span.tool{position:relative; display:inline-block; width:40px;  color:#666;
                       text-align:center; cursor:pointer; float:right;}
    .fyt-task-menu{min-width:120px; display:block; text-align:center;border: 1px solid #ebeef5;border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);}
    .fyt-task-menu a{display:block; cursor:pointer;}
    .fyt-task-menu a:hover{color:#409eff; background-color:#ecf5ff}
    .fyt-task-menu:after{content:''; position:absolute; width:18px; height:8px;background-color:#ffffff;
                         clip-path: polygon(50% 0%, 0% 100%, 100% 100%); top:-6px; right:10px;}
</style>
<div id="container">
    <div class="layui-col-220" id="app">
        <div class="layui-nav-title">入库单　　　<button class="layui-btn layui-btn-sm" id="addIn"><i class="layui-icon"></i>新增入库单</button></div>
        <ul class="fyt-utree">
            <li v-for="it in list" v-cloak :class="{active: activeName == it.guid}" @@click="selected(it.guid)">
                <a class="layui-elip title" @@click="getList(it)">{{it.packName}}</a>
                <a class="layui-elip sums"><span class="layui-badge layui-bg-blue">{{it.goodsSum}}</span></a>
                <span class="tool" @@click="tools(it,$event)"><i class="layui-icon layui-icon-more"></i></span>
            </li>
        </ul>
        <dl class="layui-nav-child fyt-task-menu layui-hide">
            <dd><a @@click="edit()">修改</a></dd>
            <dd><a @@click="deletes()">删除</a></dd>
        </dl>
    </div>
    <div class="right-col-body">
        <div class="list-wall">
            <div class="layui-form list-search">
                <button type="button" class="layui-btn layui-btn-sm" data-type="toolAdd"><i class="layui-icon"></i> 新增</button>
                <button type="button" class="layui-btn layui-btn-sm" data-type="toolDel"><i class="layui-icon"></i> 删除</button>
            </div>
            <table class="layui-hide" id="tablist" lay-filter="tool"></table>
        </div>
    </div>    
    <script type="text/javascript" src="~/themes/js/modules/vue.js"></script>
    <script>
        var funTool,vm = new Vue({
            el: "#app",
            data: {
                list: [],
                curModel: {},
                activeName:''
            },
            methods: {
                selected: function (m) {
                    this.activeName = m;
                },
                getList: function (m) {
                    funTool.getGoodsSku(m);
                },
                tools: function (m, event) {
                    this.curModel = m;
                    funTool.tool(event);
                },
                edit: function () {
                    funTool.edit();
                },
                deletes: function () {
                    funTool.deletes();
                }
            }
        });           
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'ztree', 'common'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    ztree = layui.ztree,
                    os = layui.common,
                    form = layui.form;
                
                table.render({
                    elem: '#tablist',
                    url: '/api/stock/inoutlist',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'goodsSku', title: '条形码', sort: true, fixed: 'left' },
                            { field: 'brank', title: '品牌' },
                            { field: 'style', title: '款式' },
                            { field: 'goodsSum', width: 150, title: '入库数量' },
                            { width: 100, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: true,
                    limit: 1000,
                    id: 'tables'
                });

                $(document).click(function (e) {
                    var _target = $(e.target);
                    if (_target.closest(".fyt-task-menu").length == 0) {
                        $(".fyt-task-menu").addClass('layui-hide');
                    }                    
                });

                
                var packguid='', active = {                    
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: packguid,
                                    types:1
                                }
                            });
                    },
                    addIn: function () { 
                        os.Open('添加入库单', '/fytadmin/stock/packlog/?types=1', '600px', '400px', function () {
                            funTool.packPage();
                        });
                    },
                    toolAdd: function () {
                        if (packguid === '') {
                            os.warning('请选择入库单~');
                            return;
                        }
                        os.Open('添加入库信息', '/fytadmin/stock/importmodify/?packguid=' + packguid, '600px', '350px', function () {
                            active.reload();
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.warning("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/menu/delete/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };                

                funTool = {
                    getGoodsSku: function (obj) {
                        packguid = obj.guid;
                        active.reload();
                    },
                    packPage: function () {
                        os.ajax('api/stock/packloglist', null, function (res) {
                            if (res.statusCode === 200) {
                                vm.list = res.data.items;
                            } else {
                                os.error(res.message);
                            }
                        });
                    },
                    edit: function () {
                        $(".fyt-task-menu").addClass('layui-hide');
                        os.Open('修改入库单', '/fytadmin/stock/packlog/?guid=' + vm.curModel.guid, '600px', '400px', function () {
                            funTool.packPage();
                        });
                    },
                    deletes: function () { 
                        $(".fyt-task-menu").addClass('layui-hide');
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/stock/delpacklog/', { parm: vm.curModel.guid }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    funTool.packPage();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });
                    },
                    tool: function (event) {
                        event.stopPropagation();
                        event.preventDefault();
                        var obj = $(event.target).offset();
                        $(".fyt-task-menu").css({ 'top': obj.top - 30, 'left': '275px' });
                        if ($('.fyt-task-menu').hasClass('layui-hide')) {
                            $(".fyt-task-menu").removeClass('layui-hide');
                        } else {
                            $(".fyt-task-menu").addClass('layui-hide');
                        }  
                    }
                }
                //初始化入库单管理
                funTool.packPage();

                $("#addIn").on('click', function () {
                    active.addIn();
                });
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑菜单', '/fytadmin/sys/menumodify/?guid=' + data.guid, '620px', '450px', function () {
                            active.reload();
                        })
                    }
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>

