@page
@model FytSoa.Web.Pages.FytAdmin.Stock.TransferGoodsModel
@{
    ViewData["Title"] = "调拨单商品管理";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<div class="list-wall">
    <div class="layui-form list-search">
        <div class="layui-inline">
            <input class="layui-input" id="key" autocomplete="off" placeholder="请输入关键字查询">
        </div>
        <div class="layui-inline">
            <select id="branks">
                <option value="">--可根据品牌搜索--</option>
                @{
                    foreach (var item in Model.codeList)
                    {
                        <option value="@item.Guid">@item.Name</option>
                    }
                }
            </select>
        </div>
        <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        <button type="button" class="layui-btn layui-btn-sm" data-type="toolSava"><i class="layui-icon layui-icon-add-circle-fine"></i> 确定所选商品加入到调拨单</button>
    </div>
    <table class="layui-hide" id="tablist" lay-filter="tool"></table>
</div>
<script>
    layui.config({
        base: '/themes/js/modules/'
    }).use(['table', 'layer', 'jquery', 'common', 'form'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                $ = layui.jquery,
                os = layui.common,
                form = layui.form;
            form.render('select');
            table.render({
                elem: '#tablist',
                url: '/api/stock/listbyshopguid?outShopGuid=@Model.TransferModel.OutShopGuid',
                cols: [
                    [
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'code',width:180, title: '条形码', sort: true, fixed: 'left' },
                        { field: 'brankName', title: '品牌' },
                        { field: 'styleName', title: '款式' },
                        { field: 'salePrice', title: '价格' },
                        { field: 'disPrice', title: '折扣价' },
                        { field: 'stockSum', title: '库存' },
                        { field: 'goodsSum', width: 120, edit: 'text', title: '<i class="layui-icon layui-icon-edit"></i>调拨数量', style: 'border-color:#409eff' }
                    ]
                ],
                page: true,
                limit: 10,
                height:515,
                id: 'tables'
            });
            var pIndex = parent.layer.getFrameIndex(window.name);     
            var transferGuid = '@Model.TransferModel.Guid',transferSum=@Model.TransferModel.GoodsSum, active = {
                reload: function () {
                    table.reload('tables',
                        {
                            page: {
                                curr: 1
                            },
                            where: {
                                key: $("#key").val(),
                                guid: $("#branks").val()
                            }
                        });
                },
                toolSearch: function () {
                    active.reload();
                },
                //保存商品到调拨单中
                toolSava: function () {
                    var checkStatus = table.checkStatus('tables')
                        , data = checkStatus.data;
                    if (data.length === 0) {
                        os.error("请选择要调拨的商品~");
                        return;
                    }
                    if (transferGuid==='') {
                        os.error("调拨单为空，请关闭重新选择~");
                        return;
                    }
                    var isExtNull = false,stockNot=false,stockSum=0;
                    $.each(data, function (i, item) {
                        stockSum += item.goodsSum;
                        //必须输入库存
                        if (!item.goodsSum) {
                            isExtNull = true;
                        } else {
                            //判断是否为数字
                            if (isNaN(item.goodsSum)) {
                                isExtNull = true;
                            }
                            //判断库存是否足够 
                            if (item.stockSum < item.goodsSum) {
                                stockNot = true;
                            }
                            //判断数量不能为0
                            if (item.goodsSum==0) {
                                isExtNull = true;
                            }
                        }
                    });
                    if (stockSum > transferSum) {
                        os.error("调拨数量不能大于调拨单总数~");
                        return;
                    }
                    if (isExtNull) {
                        os.error("调拨数量不能为空，并且必须为数字~~");
                        return;
                    }
                    if (stockNot) {
                        os.error("调拨数量不能大于库存数~~");
                        return;
                    }
                    
                    layer.confirm('确定要执行调拨吗？', function (index) {
                        layer.close(index);
                        var loadindex = layer.load(1, {
                            shade: [0.1, '#000']
                        });
                        os.ajax('api/stock/addtransfergoods/', { TransferGuid: transferGuid, GoodsGuid: '@Model.AdminGuid', list: data }, function (res) {
                            layer.close(loadindex);
                            if (res.statusCode === 200) {
                                parent.layer.close(pIndex);
                            } else {
                                os.error(res.message);
                            }
                        });
                    });
                }
            };
            $('.list-search .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });            
        });
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
</script>
