/FytSoa.Web/obj
/FytSoa.Web/bin
/FytSoa.Service/bin
/FytSoa.Service/obj
/FytSoa.Extensions/bin
/FytSoa.Extensions/obj
/FytSoa.Core/bin
/FytSoa.Core/obj
/FytSoa.Common/bin
/FytSoa.Common/obj
/FytSoa.Api/bin
/FytSoa.Api/obj
/.vs
