@page
@model FytSoa.Web.Pages.AboutUsModel
@{
    ViewData["Title"] = "关于飞易腾_" + Model.Site.SeoTitle;
    ViewData["Key"] = Model.Site.SeoKey;
    ViewData["Desc"] = Model.Site.SeoDescribe;
    ViewData["Nav"] = 4;
}
<link rel="stylesheet" href="/assets/css/flexslider.css" />
<div class="case-banner">
    <div style="background: url(/assets/img/about.jpg) no-repeat center top;"></div>
</div>
<div class="casemodel">
    <div class="wrapper wow fadeInUp">
        <div class="si-info">
            <div class="en">ABOUT US</div>
            <div class="in-p">飞易腾=网站平台建设+移动APP开发+手机微网站+网络营销推广+运营外包</div>
            <div class="in-p hui">我们倾听客户需求，以最前沿的设计理念，赋予企业与品牌崭新的形象</div>
        </div>
        <div class="aboutbody">
            <hr>
            <p style="text-align: left;"><span style="font-size: 24px; color:#333">我们的使命</span></p>
            <p class="ordinary-output target-output"><span class="">Our mission</span></p>
            <p style="margin-top: 20px;">北京飞易腾科技有限公司自创立以来一直致力于网络品牌规划、品牌网站建设、互动营销执行，成为互动网站建设的先行者，坚持网站与创意结合，网站与行业结合，网站与营销结合，先进技术与传统模式的融合。为政府事业单位、国企、电子商务企业、传统企业等各级客户提供切合实际的互联网应用解决方案。我们不只是希望与您建立客户关系，更希望用我们的网络技术所长与您建立长期的战略合作伙伴关系，共同发展。</p>
            <p style="text-align: left; margin-top: 50px;"><span style="font-size: 24px; color:#333">我们的态度</span></p>
            <p class="ordinary-output target-output"><span class="">Our mission</span></p>
            <p>提供全面的网站应用解决方案，成为客户的网站应用顾问</p>
        </div>
    </div>
</div>
<div class="casemodel team" style="margin-top: -20px;">
    <div class="si-info">
        <div class="en">TEAM</div>
    </div>
    <div class="wrapper">
        <div class="team_c clearfix wow fadeInUp">
            <div class="item"><img src="/assets/img/1 (1).png" style="opacity: 1;"><p>商务经理</p></div>
            <div class="item" style="background:#e3bc68"><img src="/assets/img/5.png" style="opacity: 1;"><p>项目经理</p></div>
            <div class="item" style="background:#f87366"><img src="/assets/img/4.png" style="opacity: 1;"><p>交互工程师</p></div>
            <div class="item" style="background:#fef1d6"><img src="/assets/img/8.png" style="opacity: 1;"><p>UI设计师</p></div>
            <div class="item" style="background:#c4a2d9"><img src="/assets/img/2.png" style="opacity: 1;"><p>前端工程师</p></div>
            <div class="item" style="background:#50c1e9"><img src="/assets/img/6.png" style="opacity: 1;"><p>程序员</p></div>
            <div class="item" style="background:#57ca8b"><img src="/assets/img/3.png" style="opacity: 1;"><p>测试员</p></div>
            <div class="item" style="background:#71d3d4"><img src="/assets/img/7.png" style="opacity: 1;"><p>人事</p></div>
        </div>
    </div>
</div>

<div class="casemodel partner" style="margin-top: -20px;">
    <div class="si-info">
        <div class="en">FEIYIT PARTNER</div>
    </div>
    <div class="partner-body">
        <div class="slider1">
            <div class="slide wow fadeInUp" data-wow-delay=".0s">
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/1.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/2.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/3.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/4.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/5.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/6.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/7.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/8.png" /></a>
            </div>
            <div class="slide">
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/9.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/10.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/11.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/12.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/13.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/14.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/15.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/16.png" /></a>
            </div>
            <div class="slide">
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/17.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/18.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/19.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/20.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/21.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/22.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/23.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/24.png" /></a>
            </div>
            <div class="slide">
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/25.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/26.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/27.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/28.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/21.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/22.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/23.png" /></a>
                <a href="javascript:void(0)" title=""><img src="/assets/img/partenr/24.png" /></a>
            </div>
        </div>
    </div>
</div>
<!-- con end -->
@section scripts
    {
    <script src="/assets/js/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.slider1').bxSlider({
                slideWidth: 1000,
                minSlides: 1,
                maxSlides: 1,
                slideMargin: 0
            });
        });
    </script>
}