@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>QYZQ</title>
<meta name="viewpoint" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/themes/404/404.css" />
<script src="http://cdn.feiyit.com/jquery/jquery.min.js"></script>
</head>
<body>
<div class="code">
<p>ERROR 404</p>
</div>
<div class="road">
<div class="shadow">
<div class="shelt">
<div class="head">
<div class="eyes">
<div class="lefteye">
<div class="eyeball"></div>
<div class="eyebrow"></div>
</div>
<div class="righteye">
<div class="eyeball"></div>
<div class="eyebrow"></div>
</div>
</div>
</div>
</div>
<div class="hat"></div>
<div class="bubble">
<a href="/">Go back Home?</a>
</div>
</div>
</div>
<script type="text/javascript" src="/themes/404/404.js"></script>
</body>
</html>

