@page
@using FytSoa.Common
@model IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FytSoaCms</title>
    <style>
        body {
            background-color: #1D1D1D
        }

        html {
            cursor: url('/index/menghuan.ico'), auto;
        }

        .draw {
            position: fixed;
            width: 1px;
            line-height: 1px;
            pointer-events: none;
        }

        @@keyframes floatOne {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                transform: translate3D(0, -20px, 0) scale(5) rotate(45deg);
            }
        }

        .cms {
            font-size: 55px;
            font-weight: bold;
            text-align: center;
            margin-top: 5%;
            color: #fff;
            font-family: Times New Roman;
            background-image: -webkit-linear-gradient(bottom, red, #fd8403, yellow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .list {
            width: 600px;
            border: 1px solid #f1f1f1;
            padding: 20px;
            margin: 30px auto;
            border-image: -webkit-linear-gradient(#F80, #2ED) 20 20;
            border-image: -moz-linear-gradient(#F80, #2ED) 20 20;
            border-image: -o-linear-gradient(#F80, #2ED) 20 20;
            border-image: linear-gradient(#F80, #2ED) 20 20;
        }

        .list ul li {
            width: 30%;
            display: inline-block;
            text-align: center;
        }

        .list ul li a,.list .git a {
            display: block;
            font-size: 25px;
            color: #fff;
            text-decoration: none;
            background-image: -webkit-linear-gradient(bottom, red, #fd8403, yellow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .list .git a{
            padding:10px 0;
        }
        .cxy {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="cms">FytSoaCms</div>

    <div class="list">
        <ul>
            <li>
                <a href="/fytadmin/login" target="_blank">后台管理</a>
            </li>
            <li>
                <a href="/web/" target="_blank">网站示例</a>
            </li>
            <li>
                <a href="/bbs/" target="_blank">社区</a>
            </li>
        </ul>
    </div>
    <div class="list">
        <div class="git"><a href="https://github.com/feiyit/SoaProJect" target="_blank">https://github.com/feiyit/SoaProJect</a></div>
        <div class="git"><a href="https://gitee.com/feiyit/FytSoaCms" target="_blank">https://gitee.com/feiyit/FytSoaCms</a></div>
    </div>
    <div class="cxy"><img src="/index/cxy.png" alt=""></div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/index/index.js"></script>
</body>

</html>