@page
@model FytSoa.Web.Pages.ServiceModel
@{
    ViewData["Title"] = "高端定制品牌网站_" + Model.Site.SeoTitle;
    ViewData["Key"] = Model.Site.SeoKey;
    ViewData["Desc"] = Model.Site.SeoDescribe;
    ViewData["Nav"] = 1;
}
<div class="case-banner">
    <div style="background: url(/assets/img/case.jpg) no-repeat center top;"></div>
</div>
<!-- service begin -->
<div class="fyt-service">
    <div class="fyt-s-wrap clearfix">
        <div class="fyt-s-left">
            <div class="fs-text wow bounceInLeft">
                <h3>高端定制网站建设</h3>
                <h4>Brand Website</h4>
                <div class="summary">以成熟的HTML5网站制作为基础，实现PAD、手机等不同尺寸的移动终端自适应浏览和体验，延伸品牌和用户之间的触点，为众多品牌向移动互联网转型翻开了崭新一页。</div>
                <div class="types">
                    <a><em><i class="iconfont icon-pinpai"></i></em><span>品牌网站</span></a>
                    <a><em><i class="iconfont icon-shouji"></i></em><span>手机端网站</span></a>
                    <a><em><i class="iconfont icon-xiangyi"></i></em><span>响应式网站</span></a>
                    <a><em><i class="iconfont icon-jituanxiangmu"></i></em><span>集团站群</span></a>
                    <a><em><i class="iconfont icon-youshigexinghuadingzhi"></i></em><span>微信定制化开发</span></a>
                </div>
                <div class="link"><a href="/cases/responsive-site/" target="_blank">查看案例<span>→</span></a><a href="javascript:void(0)" class="service-im">服务咨询</a></div>
            </div>
        </div>
        <div class="fyt-s-right fs-img wow bounceInRight"><a href="/cases/responsive-site/" title="" target="_blank"><img alt="" src="http://img.feiyit.com/feiyit/website/service/site-dev.png" /></a></div>
    </div> <!-- end -->
    <div class="fyt-s-wrap sbg5 clearfix" id="shop">
        <div class="fyt-s-left fs-img wow bounceInUp">
            <a href="/cases/b2c-development/" title="" target="_blank"><img alt="" src="http://img.feiyit.com/feiyit/website/service/s2.png" /></a>
        </div>
        <div class="fyt-s-right">
            <div class="fs-text fs-t-l wow bounceInUp">
                <h3>电商、餐饮平台</h3>
                <h4>Shop Food</h4>
                <div class="summary">提供PC端、微信端、APP、手机WAP、服务窗和小程序商城、餐饮平台建设，各端口商城可自由搭配，统一后台管理，企业轻松抢占所需流量入口！</div>
                <div class="types">
                    <a><em><i class="iconfont icon-b2c"></i></em><span>B2C商城</span></a>
                    <a><em><i class="iconfont icon-pinpai"></i></em><span>B2B平台</span></a>
                    <a><em><i class="iconfont icon-weishangchengicon_fenxiao"></i></em><span>分销商城</span></a>
                    <a><em><i class="iconfont icon-paimai"></i></em><span>拍卖</span></a>
                    <a><em><i class="iconfont icon-xianshiqianggouleipc"></i></em><span>限时抢购</span></a>
                </div>
                <div class="link"><a href="/cases/b2c-development/" target="_blank">查看案例<span>→</span></a><a href="javascript:void(0)" class="service-im">服务咨询</a></div>
            </div>
        </div>
    </div> <!-- end -->
    <div class="fyt-s-wrap sbg1 fyt-s-water clearfix" id="app">
        <div class="fyt-s-left">
            <div class="fs-text wow bounceInLeft">
                <h3>APP应用设计与开发</h3>
                <h4>App Development</h4>
                <div class="summary">飞易腾凭借一流的UI设计创意经验，跨多平台的APP开发能力，让品牌深植于用户手机当中，实现面对面人机交互，全方位增强品牌友好度。</div>
                <div class="types">
                    <a><em><i class="iconfont icon-socialandroidoutline"></i></em><span>Android</span></a>
                    <a><em><i class="iconfont icon-ios"></i></em><span>Ios</span></a>
                    <a><em><i class="iconfont icon-h5"></i></em><span>H5混合</span></a>
                    <a><em><i class="iconfont icon-dianshang"></i></em><span>电商</span></a>
                    <a><em><i class="iconfont icon-shequ1"></i></em><span>社区</span></a>
                    <a><em><i class="iconfont icon-yutoubaoicon"></i></em><span>音乐</span></a>
                    <a><em><i class="iconfont icon-canyin"></i></em><span>餐饮</span></a>
                    <a><em><i class="iconfont icon-gengduo"></i></em><span>更多</span></a>
                </div>
                <div class="link"><a href="/cases/wapapp/" target="_blank">查看案例<span>→</span></a><a href="javascript:void(0)" class="service-im">服务咨询</a></div>
            </div>
        </div>
        <div class="fyt-s-right fs-img wow bounceInRight">
            <a href="/cases/wapapp/" title="" target="_blank"><img alt="" src="http://img.feiyit.com/feiyit/website/service/appdev.png" /></a>
        </div>
    </div> <!-- end -->
    <div class="fyt-s-wrap sbg2 clearfix" id="applet">
        <div class="fyt-s-left fs-img wow flipInX">
            <a href="/cases/" title="" target="_blank"><img alt="" src="http://img.feiyit.com/feiyit/website/service/s-wxApplet.jpg" /></a>
        </div>
        <div class="fyt-s-right">
            <div class="fs-text fs-t-l wow flipInX">
                <h3>微信小程序开发</h3>
                <h4>WeChat Applet</h4>
                <div class="summary">微信小程序是无需下载安装即可使用的应用，飞易腾微信小程序让商家坐拥9亿微信用户市场，快捷方便、业务量翻番的梦想“触手可及”</div>
                <div class="types">
                    <a><em><i class="iconfont icon-dianshang"></i></em><span>电商小程序</span></a>
                    <a><em><i class="iconfont icon-weishangchengicon_fenxiao"></i></em><span>分销小程序</span></a>
                    <a><em><i class="iconfont icon-hotel"></i></em><span>酒店小程序</span></a>
                    <a><em><i class="iconfont icon-canyin"></i></em><span>餐饮小程序</span></a>
                    <a><em><i class="iconfont icon-youshigexinghuadingzhi"></i></em><span>小程序定制</span></a>
                </div>
                <div class="link"><a href="/cases/" target="_blank">查看案例<span>→</span></a><a href="javascript:void(0)" class="service-im">服务咨询</a></div>
            </div>
        </div>
    </div> <!-- end -->
    <div class="fyt-s-wrap sbg3 fyt-s-water clearfix" id="soft">
        <div class="fyt-s-left">
            <div class="fs-text wow rollIn">
                <h3>软件CRM、OA、ERP开发</h3>
                <h4>Software Customization</h4>
                <div class="summary">提供CRM、OA、ERP等多种应用程序的软件开发服务，为企业提交效率保障企业利润，更需要在信心和建设中结合业务发展不断创新。</div>
                <div class="types">
                    <a><em><i class="iconfont icon-crm"></i></em><span>CRM</span></a>
                    <a><em><i class="iconfont icon-icon301"></i></em><span>OA</span></a>
                    <a><em><i class="iconfont icon-ERP"></i></em><span>ERP</span></a>
                    <a><em><i class="iconfont icon-xietongbangong"></i></em><span>企业协同</span></a>
                    <a><em><i class="iconfont icon-yunweishuju"></i></em><span>技术运维</span></a>
                </div>
                <div class="link"><a href="/cases/webdeveloper/" target="_blank">查看案例<span>→</span></a><a href="javascript:void(0)" class="service-im">服务咨询</a></div>
            </div>
        </div>
        <div class="fyt-s-right fs-img wow lightSpeedIn">
            <a href="/cases/webdeveloper/" title="" target="_blank"><img alt="" src="http://img.feiyit.com/feiyit/website/service/oa-crm.png" /></a>
        </div>
    </div> <!-- end -->

    <div class="fyt-s-more">
        <div class="more-title">
            <h3>更多服务</h3>
            <h4>More Services</h4>
        </div>
        <div class="service-wrap clearfix">
            <div class="service-item wow rollIn">
                <h3>域名 & IDC服务</h3>
                <h4>Domain & IDC Service</h4>
                <div class="sicon"><span><i class="iconfont icon-yuming"></i></span></div>
                <div class="tag clearfix">
                    <span>域名注册</span><span>云服务器</span><span>虚拟主机</span><span>网站备案</span>
                </div>
                <div class="service-foot">
                    <a href="javascript:void(0)" class="service-im"><span><i>￥</i><b>50</b>/ 起</span><em>立即购买</em></a>
                </div>
            </div><!-- end -->
            <div class="service-item wow rollIn">
                <h3>增值 & 服务</h3>
                <h4>Added & Service</h4>
                <div class="sicon"><span><i class="iconfont icon-zengzhi-copy"></i></span></div>
                <div class="tag clearfix">
                    <span>短信服务</span><span>技术维护</span><span>网站推广</span><span>功能扩展</span>
                </div>
                <div class="service-foot">
                    <a href="javascript:void(0)" class="service-im"><span><i>￥</i><b>500</b>/ 起</span><em>立即咨询</em></a>
                </div>
            </div><!-- end -->
            <div class="service-item wow rollIn">
                <h3>人才外包</h3>
                <h4>Talent outsourcing & IDC Service</h4>
                <div class="sicon"><span><i class="iconfont icon-job"></i></span></div>
                <div class="tag clearfix">
                    <span>驻场开发</span><span>技术支持</span><span>安全策略</span><span>人才服务</span>
                </div>
                <div class="service-foot">
                    <a href="javascript:void(0)" class="service-im"><span><i>￥</i><b>800</b>/ 起</span><em>立即咨询</em></a>
                </div>
            </div><!-- end -->
            <div class="service-item wow rollIn">
                <h3>证书SSL & HTTPS</h3>
                <h4>SSL & HTTPS</h4>
                <div class="sicon"><span><i class="iconfont icon-SSL"></i></span></div>
                <div class="tag clearfix">
                    <span>专业版OV</span><span>增强型OV</span><span>高级版EV</span><span>增强型EV</span>
                </div>
                <div class="service-foot">
                    <a href="javascript:void(0)" class="service-im"><span><i>￥</i><b>3000</b>/ 起</span><em>立即购买</em></a>
                </div>
            </div><!-- end -->
        </div>
    </div>

</div>
<!-- service end -->