<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <targets>
    <!--<target xsi:type="Null" name="blackhole" />-->
    <target xsi:type="File" name="allfile" fileName="logs/all/nlog-all-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    
    <target xsi:type="File" name="ownFile" fileName="logs/my/nlog-my-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
              dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
              connectionString="server=localhost;database=fyt_cms;uid=root;pwd=123456;charset='utf8';SslMode=None"
             >
      <commandText>
        insert into sys_log (
        Guid,Application, Logged, Level, Message,
        Logger, CallSite, Exception,IP,User,UserName,Browser
        ) values (
        @guid,@Application, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception, @IP,@User,@UserName,@Browser
        );
      </commandText>
      <parameter name="@guid" layout="${guid}" />
      <parameter name="@Application" layout="FytSoa" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${event-context:item=Logger}" />
      <parameter name="@callSite" layout="${aspnet-Request-Url}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@IP" layout="${aspnet-request-ip}" />
      <parameter name="@User" layout="${aspnet-user-identity}" />
      <parameter name="@UserName" layout="${event-context:item=UserName}" />
      <parameter name="@Browser" layout="${aspnet-request-useragent}" />
    </target>

  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <!-- add your logging rules here -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--这里全部使用最高等级Trace，即可以记录所有类型日志。可以根据需要降低等级，如使用Info，则仅记录Info及以上的日志，Trace、Debug日志不记录-->
    <logger name="*" minlevel="Trace" writeTo="database" />
    <logger name="FytSoa.Web.*" minlevel="Trace" writeTo="ownFile" />
  </rules>
</nlog>