@page
@model FytSoa.Web.Pages.FytAdmin.Member.BirthdayModel
@{
    ViewData["Title"] = "生日祝福";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <input class="layui-input" id="key" autocomplete="off" placeholder="请输入姓名或手机号码搜索">
            </div>
            <div class="layui-inline">
                <select id="shops" lay-search="">
                    <option value="">--可根据店铺搜索--</option>
                    @{
                        if (Model.shopList != null)
                        {
                            foreach (var item in Model.shopList)
                            {
                                <option value="@item.Guid">@item.ShopName</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="layui-inline">
                <select class="layui-input" id="setype">
                    <option value="0">--全部--</option>
                    <option value="1">今天生日</option>
                    <option value="2">明天生日</option>
                    <option value="3">本周生日</option>
                    <option value="4">本月生日</option>
                </select>
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
        <div class="layui-form list-search" style="margin-top:10px;">
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolDel"><i class="layui-icon"></i> 删除</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSsm"><i class="layui-icon layui-icon-notice"></i> 批量发送短信</button>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script type="text/html" id="formatTime">
        {{formatdate(d.birthday)}}
    </script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common','form'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    form = layui.form;
                form.render('select');
                table.render({
                    elem: '#tablist',
                    url: '/api/shops/userlist',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'userName', title: '姓名', sort: true, fixed: 'left' },
                            { field: 'mobile', title: '手机号码' },
                            { field: 'points', title: '积分数' },
                            { field: 'birthday', title: '生日', templet: '#formatTime' },
                            { field: 'sex', title: '性别', sort: true },
                            { width: 240, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: true,
                    id: 'tables',
                    where: {
                        guid:"@Model.shopGuid"
                    }
                });

                var shopGuid = '@Model.shopGuid', active = {
                    reload: function () {
                        if (!shopGuid) { shopGuid = 'all'; }
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: $("#key").val(),
                                    guid: shopGuid,
                                    types: $('#setype').val()
                                }
                            });
                    },
                    toolSearch: function () {
                        active.reload();
                    },
                    toolAdd: function () {
                        if (shopGuid == 'all' || !shopGuid) {
                            os.warning('请选择商家~'); return;
                        }
                        shopGuid = $("#shops").val();
                        os.Open('添加会员', '/fytadmin/shop/usermodify?shop=' + shopGuid, '600px', '450px', function () {
                            active.reload();
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/shops/deleteuser/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };
                if (shopGuid != 'all') {
                    $("#shops").val(shopGuid);
                    form.render('select');
                }
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    shopGuid = $("#shops").val();
                    active[type] ? active[type].call(this) : '';
                });
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑会员', '/fytadmin/shop/usermodify/?guid=' + data.guid, '600px', '450px', function () {
                            active.reload();
                        })
                    }
                });
            });

        function formatdate(str) {
            if (str) {
                var date = new Date(str);
                return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            } else {
                return "无信息";
            }
        }
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sendssm"><i class="layui-icon layui-icon-notice"></i> 发送短信</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>
