@page
@model FytSoa.Web.Pages.FytAdmin.Member.StatisticsModel
@{
    ViewData["Title"] = "注册统计";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <style>
        body {
            background-color: #f1f4f5;
        }

        .list-search {
            background-color: #D9DEE4
        }
    </style>
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <select id="years" lay-search="">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch">
                <i class="layui-icon layui-icon-search"></i> 搜索
            </button>
        </div>
    </div>
    <div class="layui-col-md12 list-wall">
        <div class="layui-card">
            <div class="layui-card-header">每月注册人数统计</div>
            <div class="layui-card-body">
                <div id="base-map" style="width: 100%;height:300px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12 list-wall">
        <div class="layui-card">
            <div class="layui-card-header">性别注册比例</div>
            <div class="layui-card-body">
                <div id="sex-map" style="width: 100%;height:300px;"></div>
            </div>
        </div>
    </div>
    <script type="text/html" id="realMoney">
        {{(d.realMoney-d.backMoney).toFixed(2)}}
    </script>
    <script type="text/javascript" src="~/themes/js/echarts.min.js"></script>
    <script type="text/javascript" src="~/themes/js/macarons.js"></script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['carousel', 'element', 'layer', 'jquery', 'common', 'form'],
            function () {
                var fcarousel = layui.carousel, $ = layui.$, os = layui.common, form = layui.form;
                form.render('select');

                var pos = {
                    init: function () {
                        os.ajax('api/userreport/regreport', { key: $('#years').val() }, function (res) {
                            if (res.statusCode === 200) {
                                baseChart.hideLoading()
                                var datas = [], counts = [];
                                for (var i = 0; i < res.data.length; i++) {
                                    datas.push(res.data[i].months + '月');
                                    counts.push(res.data[i].regCount);
                                }
                                baseChart.setOption({
                                    xAxis: {
                                        data: datas
                                    },
                                    series: [
                                        {
                                            name: '注册数',
                                            type: 'line',
                                            stack: '注册数',
                                            areaStyle: { normal: {} },
                                            data: counts
                                        }]
                                });
                            } else {
                                os.error(res.message);
                            }
                        });
                    },
                    sexInit: function () { 
                        os.ajax('api/userreport/sexreport', { key: $('#years').val() }, function (res) {
                            if (res.statusCode === 200) {
                                sexChart.hideLoading()
                                var datas = [], counts = [];
                                for (var i = 0; i < res.data.length; i++) {
                                    datas.push(res.data[i].months + '注册人数');
                                    counts.push({ 'value': res.data[i].regCount,'name':res.data[i].months});
                                }
                                sexChart.setOption({
                                    legend: {
                                        data: datas
                                    },
                                    series: [
                                        {
                                            name: "注册人数",
                                            type: "pie",
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: counts
                                        }]
                                });
                            } else {
                                os.error(res.message);
                            }
                        });
                    },
                    toolSearch: function () {
                        pos.init();
                    }
                };
                setTimeout(function () {
                    pos.init();
                    pos.sexInit();
                }, 1000);
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    baseChart.showLoading();
                    pos[type] ? pos[type].call(this) : '';
                });
            });
        var baseChart = echarts.init(document.getElementById('base-map'), 'macarons');
        var sexChart = echarts.init(document.getElementById("sex-map"), 'macarons');
        baseChart.showLoading();
        sexChart.showLoading();
        var option = {
            title: {
                //show:false,
                text: '',
                textStyle: {
                    color: '#888',
                    align: 'center',
                    fontSize: 14,
                    fontWeight: '400'
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            toolbox: {
                feature: {
                    magicType: {
                        type: ['line', 'bar', 'stack', 'tiled']
                    },
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
            ]
        };
        baseChart.setOption(option);

        //男女注册比例统计
        var option_sex = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: []
            },
            calculable: true,
            series:
                []
        };
        sexChart.setOption(option_sex);

    </script>
</div>

