@page
@model FytSoa.Web.Pages.FytAdmin.Goods.LossOrderInfoModel
@{
    ViewData["Title"] = "报损打包销售详细";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<div id="container">
    <div class="list-wall">
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common', 'form'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    form = layui.form;
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/goods/loss/list',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'code', width: 180, title: '条形码', sort: true, fixed: 'left' },
                            { field: 'brankName', title: '品牌', sort: true },
                            { field: 'styleName', title: '款式', sort: true },
                            { field: 'salePrice', title: '价格', sort: true },
                            { field: 'disPrice', title: '折扣价', sort: true },
                            { field: 'saleSum', title: '报损数', sort: true },
                            { field: 'addDate', title: '添加时间', sort: true }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    id: 'tables',
                    height:'525px',
                    where: {
                        types: 1,
                        guid:'@Model.orderGuid'
                    }
                });
                
            });
    </script>
</div>