@page
@model FytSoa.Web.Pages.FytAdmin.Finance.ReportModel
@{
    ViewData["Title"] = "财务管理-报表中心";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <style>
        body {
            background-color: #f1f4f5;
        }

        .layui-table td {
            border-radius: 0px;
        }
    </style>
    <div class="layui-col-md12 list-wall">
        <div class="layui-card">
            <div class="layui-card-header">今年数据概览</div>
            <div class="layui-card-body">
                <table class="layui-hide" id="tablist"></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md12 list-wall">
        <div class="layui-card">
            <div class="layui-card-header">今年图表概览</div>
            <div class="layui-card-body">
                <div id="base-map" style="width: 100%;height:300px;"></div>
            </div>
        </div>
    </div>
    <script type="text/html" id="realMoney">
        {{d.realMoney-d.backMoney}}
    </script>
    <script type="text/javascript" src="~/themes/js/echarts.min.js"></script>
    <script type="text/javascript" src="~/themes/js/macarons.js"></script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'carousel', 'element'],
            function () {
                var table = layui.table,
                    carousel = layui.carousel;
                table.render({
                    elem: '#tablist',
                    url: '/api/inventory/monthturnover',
                    cols: [
                        [
                            { field: 'months', width: 100, title: '月份', fixed: 'left' },
                            { field: 'realMoney', width: 150, title: '应收金额' },
                            { field: 'backMoney', width: 150, title: '退货金额'},
                            { field: 'realMoney', width: 150, title: '实收金额', templet: '#realMoney', style: 'background-color: #2F4056; color: #fff;' },
                            { field: 'counts', title: '订单数量' },
                            { field: 'returnCount', title: '返货数' },
                            { field: 'backCount', title: '退货数' }
                        ]
                    ],
                    page: false,
                    id: 'tables',
                    height: 300,
                    done: function (res, curr, count) {
                        baseChart.hideLoading()
                        console.log(res);
                        var datas = [], moneys = [], orderCount = [];
                        for (var i = 0; i < res.data.length; i++) {
                            datas.push(res.data[i].months + '月');
                            moneys.push(res.data[i].realMoney - res.data[i].backMoney);
                            orderCount.push(res.data[i].counts);
                        }
                        baseChart.setOption({
                            xAxis: {
                                data: datas
                            },
                            series: [{
                                name: '销售金额',
                                type: 'line',
                                stack: '总量',
                                areaStyle: { normal: {} },
                                data: moneys
                            },
                            {
                                name: '订单数',
                                type: 'line',
                                stack: '总量',
                                areaStyle: { normal: {} },
                                data: orderCount
                            }]
                        });
                    }
                });

            });
        var baseChart = echarts.init(document.getElementById('base-map'), 'macarons');
        baseChart.showLoading();
        var option = {
            title: {
                //show:false,
                text: '今年销售金额汇总',
                textStyle: {
                    color: '#888',
                    align: 'center',
                    fontSize: 14,
                    fontWeight: '400'
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            toolbox: {
                feature: {
                    magicType: {
                        type: ['line', 'bar', 'stack', 'tiled']
                    },
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
            ]
        };
        baseChart.setOption(option);
    </script>
</div>

