<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/build/admin/css/site.min.css">
    <script type="text/javascript" src="~/themes/js/modules/vue.js"></script>
    <script src="~/themes/layui/layui.js"></script>
    <title>@Html.Raw(ViewBag.Title)</title>
</head>
<body>
    @RenderBody()    
    @RenderSection("Scripts", required: false)
</body>
</html>
