<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/themes/layui/css/layui.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/themes/layui/layui.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
