@page
@model FytSoa.Web.Pages.FytAdmin.IndexModel
@{
    ViewData["Title"] = "管理平台";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">FytErp-进销存管理平台</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item pr50"><img src="~/themes/img/logo.jpg" class="nav-logo" /></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/demo/"><i class="layui-icon"></i></a>
            </li>
            <li class="layui-nav-item">
                <a href="/demo/"><i class="layui-icon"></i><span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span class="username">孙斌 <i class="layui-icon"></i></span>
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人中心</a></dd>
                    <hr />
                    <dd><a href="">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree fyt-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon"></i>系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/fytadmin/sys/organize/" target="iframes">部门管理</a></dd>
                        <dd><a href="/fytadmin/sys/menu/" target="iframes">角色管理</a></dd>
                        <dd><a href="">管理员管理</a></dd>
                        <dd><a href="javascript:;">系统日志</a></dd>
                        <dd><a href="javascript:;">信息推送</a></dd>
                        <dd><a href="/fytadmin/sys/codes/" target="iframes">条形码管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon"></i>采购管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/oa/person/index" target="iframes">未完成入库</a></dd>
                        <dd><a href="javascript:;">已完成付款</a></dd>
                        <dd><a href="javascript:;">未完成到票</a></dd>
                        <dd><a href="javascript:;">全部采购</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon"></i>加盟商管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">加盟商列表</a></dd>
                        <dd><a href="javascript:;">店员管理</a></dd>
                        <dd><a href="javascript:;">消息通知</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon"></i>库存管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">入库管理</a></dd>
                        <dd><a href="javascript:;">出库管理</a></dd>
                        <dd><a href="javascript:;">调拨管理</a></dd>
                        <dd><a href="">出库日志</a></dd>
                        <dd><a href="">商品管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"></i>财务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">总账</a></dd>
                        <dd><a href="javascript:;">应收应付</a></dd>
                        <dd><a href="">付款核销</a></dd>
                        <dd><a href="">报表中心</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"></i>会员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">会员列表</a></dd>
                        <dd><a href="javascript:;">会员积分</a></dd>
                        <dd><a href="">消费日志</a></dd>
                        <dd><a href="">生日祝福</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"></i>销售管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">销售明细</a></dd>
                        <dd><a href="javascript:;">退货管理</a></dd>
                        <dd><a href="">返货管理</a></dd>
                        <dd><a href="">折扣管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon"></i>报表管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">采购报表</a></dd>
                        <dd><a href="javascript:;">出入库报表</a></dd>
                        <dd><a href="">销售报表</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="iframes" name="iframes" class="tab-pane" frameborder="0" src="/fytadmin/default"></iframe>
    </div>
</div>
@section Scripts{
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
}

