@page
@model FytSoa.Web.Pages.FytAdmin.LoginModel
@{
    ViewData["Title"] = "FytERP管理系统";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<div class="login-wall">
    <div class="login-left">
        <p style="width:550px;text-align:left;">FytERP实现对企业的核心数据资产如主数据、数据单据及展示、组织架构、流程审批、数据报表等一体化运营、智能化管理。</p>
        <div class="login-left-bg"></div>
    </div>
    <div class="login-right">
        <h1>用户登录</h1>
        <div class="cell"><span class="icon-user"></span><input type="text" name="" id="" placeholder="登录账号"></div>
        <div class="cell"><span class="icon-pwd"></span><input type="password" name="" id="" placeholder="登录密码"></div>
        <div class="wjpwd"><a href="http://www.feiyit.com" target="_blank">忘记密码？</a></div>
        <div class="login-btn">
            <button class="layui-btn layui-btn-normal">登录</button>
            <button class="layui-btn layui-btn-danger">重置</button>
        </div>
    </div>
    <div class="layui-clear"></div>
</div>    
<div class="login-footer">
    <p>京ICP备13060722号 Copyright @@ 2014-2018 <a href="http://www.feiyit.cn/" target="_blank">Powered by 北京飞易腾科技有限公司</a></p>
</div>
@section Scripts
{
    <script src="~/themes/js/login.js"></script>
}

