@page
@model FytSoa.Web.Pages.FytAdmin.LoginModel
@{
    ViewData["Title"] = "FytERP管理系统";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/build/admin/css/login.min.css">
    <title>@Html.Raw(ViewBag.Title)</title>
</head>
<body>
    <div class="login-wall">
        <div class="login-left">
            <p style="width:550px;text-align:left;">FytCMS内容管理系统，支持多级栏目管理，文章分类，下载、投票、广告等多个模块的集成。</p>
            <div class="login-left-bg"></div>
        </div>
        <div class="login-right">
            <form action="/fytadmin/login" id="forms" method="post" class="layui-form">
                @Html.AntiForgeryToken()
                <h1>用户登录</h1>
                <div class="cell"><span class="icon-user"></span><input type="text" name="loginname" id="loginname" lay-verify="required" lay-verType="tips" placeholder="登录账号" autocomplete="off"></div>
                <div class="cell"><span class="icon-pwd"></span><input type="password" name="password" id="password" lay-verify="required" lay-verType="tips" placeholder="登录密码" autocomplete="off"></div>
                <div class="login-tip"><span>账号密码错误！</span></div>
                <div class="wjpwd"><a href="http://www.feiyit.com" target="_blank">忘记密码？</a></div>
                <div class="login-btn">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="loginsub">登录</button>
                    <button type="button" class="layui-btn layui-btn-danger">重置</button>
                </div>
                <input type="hidden" name="privateKey" value="@Html.Raw(Model.RsaKey[0])" /><input type="hidden" name="publicKey" value="@Html.Raw(Model.RsaKey[1])" />
            </form>
        </div>
        <div class="layui-clear"></div>
    </div>
    <div class="login-footer">
        <p>京ICP备13060722号 Copyright @@ 2014-2018 <a href="http://www.feiyit.cn/" target="_blank">Powered by 北京飞易腾科技有限公司</a></p>
    </div>
    <script src="~/themes/layui/layui.js"></script>
    <script src="~/build/admin/js/login.min.js"></script>
</body>
</html>
