body {
    color: #353F63;
}

.layui-layout-admin .layui-logo,
.layui-bg-black .layui-nav,
.layui-nav-itemed>.layui-nav-child,
.layui-layout-admin .layui-bg-black,
.list-search,
.layui-nav-tree .layui-this {
    background: #F6F8FC !important;
    color: #353F63;
}

.layui-layout-admin .layui-logo {
    line-height: 18px;
}

.layui-layout-admin .layui-logo span {
    display: inline-block;
    padding-top: 13px;
    letter-spacing: 8px;
}

.layui-layout-admin .layui-logo p {
    font-size: 12px;
    letter-spacing: .8px;
    font-family: 'Georgia';
}

.layui-nav-itemed>a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {
    color: #353F63 !important;
}

.layui-nav-tree .layui-nav-item>a:hover,
.layui-nav-tree .layui-nav-item.layui-nav-itemed>a,
.layui-nav-tree .layui-this>a {
    background-color: #734DFD;
    color: #ffffff !important;
}

.layui-nav-tree .layui-nav-bar {
    background-color: #734DFD;
}

.layui-nav-tree .layui-nav-item a {
    color: #353F63;
}

.fyt-nav-tree .layui-nav-child dd.layui-this,
.fyt-nav-tree .layui-nav-child dd.layui-this a {
    background-color: transparent;
    color: #734DFD !important;
}

.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child a:hover {
    background: 0 0;
    color: #734DFD;
}

.layui-bg-black .layui-nav .layui-nav-more {
    border-top-color: rgba(115, 77, 253, .7);
}

.layui-first-nav .layui-this a {
    color: #734DFD !important;
}

.layui-first-nav .layui-this:after {
    background-color: #734DFD;
}

.layui-btn {
    background-color: #35dcc1;
    border-color: #35dcc1;
}

.layui-btn:hover {
    color: #fff;
    border-color: #40ddc4;
    background-color: #40ddc4;
}

.layui-elem-quote {
    border-left: 5px solid #7355f9;
    background-color: #f2f2f2;
}

.layui-upload-drag .layui-icon {
    font-size: 50px;
    color: #7355f9;
}

.layui-form-select dl dd.layui-this {
    background-color: #35dcc1;
}

button.layui-btn {
    box-shadow: 1px 2px 10px 0 rgba(53, 220, 193, .5);
}

.layui-btn.layui-btn-success {
    background-color: #46be8a;
    border-color: #46be8a;
    padding: 0 10px;
}

.layui-btn.layui-btn-back {
    background-color: #f2a654;
    border-color: #f2a654;
    padding: 0 10px;
}

.layui-btn.layui-btn-info {
    padding: 0 10px;
}

.layui-col-220 {
    background: #F5F7FB;
    border-left: 1px solid #EDEDF1;
}

.layui-col-220 .layui-nav-title {
    background: #ecf2f9;
}

.logtype li a {
    display: block;
    padding: 15px 20px;
}

.logtype li.active a,
.role li.active a {
    background-color: #f3f7f9;
    color: #734DFD;
}

.layui-btn-group .layui-btn.active,
.layui-laypage .layui-laypage-curr .layui-laypage-em,
.layui-form-checked[lay-skin=primary] i {
    background-color: #35dcc1 !important;
    border-color: #35dcc1 !important;
    color: #fff;
}

.layui-table tbody tr:hover,
.layui-table thead tr,
.layui-table-click,
.layui-table-header,
.layui-table-hover,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool,
.layui-table-total,
.layui-table-total tr,
.layui-table[lay-even] tr:nth-child(even) {
    background-color: #F6F8FC;
}

.soa-cur input[type="checkbox"],
.soa-cur input[type="radio"] {
    border: 1px solid #734DFD;
}

.soa-cur input[type="checkbox"]:checked,
.soa-cur input[type="radio"]:checked {
    background: #734DFD;
}

::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
    border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    min-height: 28px;
    background-color: #cccccc;
    background-image: initial;
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid #636363;
    background-color: #929292;
}