body{font: 400 13.3333px Arial;}
.layui-layout-admin .layui-body{bottom:0px;}
.layui-bg-black{background: #324157 !important;}
.layui-nav{background: #324157;}
.layui-layout-admin .layui-logo{background: #324157; color:#ffffff;}
.layui-layout-admin .layui-header{ background-color:#ffffff;box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);}
.layui-header .layui-nav{color:#495060}
.layui-header .layui-nav .layui-nav-item a{color:#495060}
.layui-nav-tree .layui-nav-item > a:hover{ background-color: #48576a;}
.pr50{margin-right:50px;}
.layui-nav-item .username{display:inline-block; margin-right:15px;}
.layui-nav-item .layui-icon{font-size:20px;}
.layui-nav-item .username .layui-icon {font-size: 12px;}
.layui-header .layui-nav .layui-nav-item a{font-size:12px;}
.layui-nav-tree .layui-nav-child a{color: #9ea7b4;}
.layui-layout-admin .layui-side .layui-nav-child dd{padding-left:28px;}
.layui-nav-tree .layui-nav-item a i{margin-right:4px;font-size: 16px;}
.tab-pane{width:100%; height:99.6%;}
.list-wall{padding:12px 12px 0px 12px;}
.list-search{ background-color:#f2f2f2; padding:12px 15px;}
.list-search .layui-form-label{width:auto; padding: 5px 15px;}
.list-search .layui-input, .list-search .layui-input.layui-input-sm {height: 34px;line-height: 34px;padding: 0 10px; }
.list-search .layui-form-select dl{top:33px;}
.list-search .layui-btn-sm{font-size:14px;padding: 0 15px;height: 32px;line-height: 31px;}
.layui-nav-tree .layui-nav-item>a,.layui-nav-tree .layui-nav-child a{font-size:13.3333px;}
.layui-btn,.layui-input,.layui-table td, .layui-table th,.layui-nav{border-radius:4px;font: 400 13.3333px Arial;}
.layui-header .layui-nav-bar{top:0px !important; height:2px;}

.layui-col-220 {width: 220px;position: absolute;top: 0px;bottom: 0px;-webkit-transition: position,.2s,linear;-moz-transition: position,.2s,linear;
                background-color:#eaedf1
}
.layui-col-220 .layui-nav-title{width: 100%; height: 70px; line-height: 70px; background: #D9DEE4; overflow: hidden;
    text-overflow: ellipsis; white-space: nowrap;font-weight: bold;text-indent: 20px;}
.right-col-body{left:220px;position: absolute;width: auto;top: 0px;bottom: 0px;right: 0px;overflow: hidden;overflow-y: auto;
                    -o-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-webkit-transition: all 0.2s ease;
}
.layui-tree-cus li{padding:4px 0;}
.layui-nav-tree .layui-nav-bar{background-color:#409eff}
.fyt-nav-tree .layui-nav-child dd.layui-this,.fyt-nav-tree .layui-nav-child dd.layui-this a{background-color:transparent; color:#409eff}

/* layui 按钮默认颜色修改 */
.layui-btn {background-color: #409eff; border-color: #409eff; color:#ffffff; height:33px; border-radius:100px !important;}
.layui-btn:hover{ color:#ffffff;border-color: #409eff;background-color: #409eff;}
.layui-laypage .layui-laypage-curr .layui-laypage-em,.layui-form-checked[lay-skin=primary] i{background-color: #409eff; border-color: #409eff;}
.layui-form-onswitch {border-color: rgb(19, 206, 102); background-color: rgb(19, 206, 102);}
.layui-btn.layui-btn-primary{ background-color:#ffffff;border-color: #dcdfe6; color:#606266}
.layui-btn.layui-btn-primary:hover{ background-color:#ecf5ff;border-color: #5faeff; color:#5faeff}
.layui-btn-xs{height:22px !important;}

.layui-input, .layui-select, .layui-textarea{border-radius:3px !important;}
.layui-input:hover, .layui-select:hover, .layui-textarea:hover,
.layui-input:focus, .layui-select:focus, .layui-textarea:focus {
    border: 1px solid #409eff !important;
}
.layui-form-select dl dd.layui-this{background-color: #409eff;}

.layui-btn-disabled{border:1px solid #e6e7e8;background-color: #e6e7e8 !important; color: #666 !important; }
.layui-btn-disabled:hover{border:1px solid #e6e7e8 !important;}

/* 弹框优化 */
.layui-body{z-index:60 !important;}
.layui-layer {
    box-shadow: 0 1px 3px rgba(0,0,0,.3) !important;
}
.layui-layer-title{background-color:transparent !important; border-bottom:none !important;}
.lay-time-icon .layui-icon{position:absolute; right:10px; top:9px;}

/* 表单样式调整 */
.form-cus{padding:15px 35px 0 0;}
.form-cus.form-tab{ padding: 0px 20px 0 15px;}
.form-cus.form-tab .layui-tab-item{ padding-top: 10px;}
.form-cus.form-tab .add-icons{ text-align: center; cursor: pointer;}
.form-cus.form-tab .add-icons i{ vertical-align: middle; margin-right: 5px;}

/* tree */
.ztree *{ font-size: 13.3333px !important;}
.ztree li a{ height: 28px !important;}
.tree-footer{ position: absolute; width: 100%; text-align: center; padding: 10px 0; border-top: 1px solid #f2f2f2; bottom: 0px;
    -o-transition: all 0.2s ease;-webkit-transition: all 0.2s ease; display: none;
}
.tree-footer.active{ bottom: 0px; display: block;}

/*地区下拉优化*/
.city-picker-span > .placeholder{padding-left:10px; color:#777;}
.city-picker-dropdown{width:450px !important; left:1px !important;}
.city-picker-span{overflow:hidden;}

.nav-logo{height:50px;}
.layui-fluid {padding: 15px;}
.layui-carousel[lay-arrow=none] .layui-carousel-arrow{display:none}
.layadmin-carousel .layui-carousel,.layadmin-carousel>[carousel-item]>*{background-color:#fff}
.layadmin-carousel .layui-col-space10{margin:0}
.layadmin-carousel .layui-carousel-ind{position:absolute;top:-41px !important;text-align:right}
.layadmin-carousel .layui-carousel-ind ul{background:0 0}
.layadmin-carousel .layui-carousel-ind li.layui-this{background-color:#999}
.layadmin-carousel .layui-carousel-ind li:hover{background-color:#c2c2c2}
.layadmin-carousel .layui-carousel-ind li{background-color:#e2e2e2}
.layadmin-carousel[lay-indicator=outside] .layui-carousel-ind ul{background:0 0}
.layadmin-shortcut li {text-align: center;}
.layadmin-shortcut li .layui-icon{display:inline-block;width:100%;height:60px;line-height:60px;text-align:center;border-radius:2px;font-size:30px;background-color:#F8F8F8;color:#333;transition:all .3s;-webkit-transition:all .3s}
.layadmin-shortcut li cite{position:relative;top:2px;display:block;color:#666;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size:14px}
.layadmin-shortcut li:hover .layui-icon{background-color:#f2f2f2}
.layadmin-backlog .layadmin-backlog-body{display:block;padding:10px 15px;background-color:#f8f8f8;color:#999;border-radius:2px;transition:all .3s;-webkit-transition:all .3s}
.layadmin-backlog-body h3{padding-bottom:10px;font-size:12px}
.layadmin-backlog-body p cite{font-style:normal;font-size:30px;font-weight:300;color:#46be8a}
.layadmin-backlog-body:hover{background-color:#f2f2f2;color:#888}
.layadmin-takerates{padding-top:5px}
.layadmin-takerates .layui-progress{margin:45px 0 53px}
.layadmin-takerates .layui-progress:last-child{margin-bottom:10px}
.layadmin-takerates .layui-progress h3{position:absolute;right:0;top:-35px;color:#999;font-size:14px}
.layadmin-takerates .layui-progress-bar{text-align:left}
.layadmin-takerates .layui-progress-text{top:-35px;line-height:26px;font-size:22px}
.layui-form-item .layui-inline{margin-right:0px;}
.layui-form-item .layui-input-inline{margin-right:0px; width:230px;}
.fytadmin-header{ padding:15px;}

/* 文件上传 */
.fytui-file .layui-input { width:calc(100% - 100px); display:inline-block; border-bottom-right-radius:0px !important; 
                           border-top-right-radius:0px !important; vertical-align:middle;}
.fytui-file button{width:100px; border-radius:0px !important; height:38px;}

/* 出入库diy */
.fyt-utree li{height:40px; line-height:40px; position:relative;border-bottom:1px solid #e6e6e6;padding-left:15px;}
.fyt-utree li.active{background-color:#f3f3f3;}
.fyt-utree li a{display:inline-block;cursor:pointer;}
.fyt-utree li a.title{ width:75%; overflow:hidden; float:left; padding-right:15px;}
.fyt-utree li a.sums{width:40px;  float:left;}
.fyt-utree li span.tool{position:relative; display:inline-block; width:40px;  color:#666;
                       text-align:center; cursor:pointer; float:right;}
.fyt-task-menu{min-width:120px; display:block; text-align:center;border: 1px solid #ebeef5;border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);}
.fyt-task-menu a{display:block; cursor:pointer;}
.fyt-task-menu a:hover{color:#409eff; background-color:#ecf5ff}
.fyt-task-menu:after{content:''; position:absolute; width:18px; height:8px;background-color:#ffffff;
                         clip-path: polygon(50% 0%, 0% 100%, 100% 100%); top:-6px; right:10px;}

::-webkit-scrollbar-track-piece {
	background-color: #f5f5f5;
	border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar {
	width: 10px;  
    height: 10px;  
    background-color: #F5F5F5;  
}
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5; 
}  
::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	min-height: 28px;
    background-color: #5a6774;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent) 
}

::-webkit-scrollbar-thumb:hover {
	border: 1px solid #636363;
	background-color: #929292;
}

/* 仪表盘，销售统计 */
.fyt-counter .layui-col-md4{ text-align:center;}
.fyt-counter .counter-label{color:#76838f; font-size:15px;}
.fyt-counter .counter-number{font-size: 20px; color: #37474f;}
.fyt-counter .red-600{color:#f96868}
/* 仪表盘 店铺销售排行 */
.fyt-shoptop tbody tr td:last-child{padding-top:28px;}

@-webkit-keyframes am-horizontal-roll_show {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes am-horizontal-roll_show {
    0% {
        opacity: 0;
        -webkit-transform: translateX(400px);
        -ms-transform: translateX(400px);
        transform: translateX(400px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
}

.layer-anim-07 {
    -webkit-animation: am-horizontal-roll_show .3s ease-out;
    animation: am-horizontal-roll_show .3s ease-out;
}