<!-- 联系我们 -->
<div class="contact wow slideInUp">
    <div class="title">
        <h5>联系我们</h5>
        <p>Contact Us</p>
    </div>
    <div id="contactinfo">
        <h3 class="ellipsis name">北京飞意腾科技有限公司</h3>
        <p class="ellipsis add"><span>地点：</span>北京朝阳区四惠东尚8里文创园E座705/901</p>
        <p class="ellipsis zip"><span>邮编：</span>100000</p>
        <p class="ellipsis tel"><span>电话：</span><a href="tel:010-57178368">010-57178368</a></p>
        <p class="ellipsis mobile"><span>手机：</span><a href="tel:13511084034">135-1108-4034</a></p>
        <p class="ellipsis fax"><span>传真：</span>000-57178368</p>
        <p class="ellipsis email"><span>邮箱：</span>715515390@qq.com</p>
        <div><a class="fl" href="weixin://"><i class="icon iconfont icon-weixin"></i></a> <a id="mpbtn" class="fl" href="tencent://Message/?Uin=715515390&websiteName=q-zone.qq.com&Menu=yes"><i class="icon iconfont icon-qq"></i></a></div>
    </div>
</div>
<div class="footer">
    <p>京ICP备13006710号-1 http://www.feiyit.com</p>
</div>
<!-- 快捷方式 -->
<div class="online">
    <a href="/h5/index.shtml"><i class="icon iconfont icon-shouye"></i></a>
    <a href="tel:13511084034"><i class="icon iconfont icon-dianhua"></i></a>
    <a href=""><i class="icon iconfont icon-weixin1"></i></a>
</div>