<nav id="menu">
    <ul>
        <li><a href="index.html ">首页</a></li>
        <li><a href="index.html ">产品</a>
            <ul>
                <li><a href="#about/address ">ERP管理软件</a></li>
                <li><a href="#about/history ">手机APP</a></li>
                <li><a href="#about/history ">手机微网站</a></li>
                <li><a href="#about/address ">企业网站</a></li>
                <li><a href="#about/team ">门户网站</a></li>
            </ul>
        </li>
        <li><a href="#about ">案例</a>
            <ul>
                <li><a href="#about/history ">全部</a></li>
                <li><a href="#about/history ">高端定制网站</a></li>
                <li><a href="#about/team ">移动APP</a></li>
                <li><a href="#about/address ">电子商城</a></li>
                <li><a href="#about/address ">手机微网站</a></li>
                <li><a href="#about/address ">软件开发</a></li>
            </ul>
        </li>
        <li><a href="index.html ">产品</a></li>
        <li><a href="index.html ">关于</a></li>
        <li><a href="index.html ">联系</a></li>
    </ul>
</nav>