<div class="col-md-2 disable-mobile left-sidebar">
    <ul>
        <li class="widget widget-btn">
            <button type="button" class="action ask-question">
                <i class="fa fa-plus"></i> 我要提问
            </button>
        </li>
        <!-- END BUTTON MODAL QUESTION -->
        <li class="widget widget-menus">
            <div class="menu-left-menu-container">
                <ul id="menu-left-menu-1" class="menu">
                    <li><a href="/bbs/"><i class="fa fa-question-circle"></i>问题</a></li>
                    <li><a href="/bbs/tags/"><i class="fa fa-tags"></i>标签</a></li>
                    <li class="hidden"><a href="javascript:void(0)"><i class="fa fa-trophy"></i>微章</a></li>
                    <li><a href="/bbs/category/"><i class="fa fa-th-list"></i>分类</a></li>
                    <li><a href="/bbs/expert/"><i class="fa fa-users"></i>专家</a></li>
                </ul>
            </div>
        </li>
        <!-- END LEFT MENU -->
    </ul>
    <div class="clearfix"></div>
    <div class="copyright">
        ©2019 <br>
        <a href="/bbs">FytSoaCms &amp; BBS</a>
    </div>
</div>