@page
@model FytSoa.Web.Pages.FytAdmin.Shop.IndexModel
@{
    ViewData["Title"] = "店铺管理";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolDel"><i class="layui-icon"></i> 删除</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolExport"><i class="layui-icon layui-icon-component"></i> 导出Excel</button>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolActivity"><i class="layui-icon layui-icon-app"></i> 添加活动</button>
        </div>
        <div class="layui-form list-search" style="margin-top:10px;">
            <div class="layui-inline">
                <input class="layui-input" id="shopkey" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
            <div class="list-wall">
                <div class="layui-form list-search">
                    <button type="button" class="layui-btn layui-btn-sm" data-type="toolActAdd"><i class="layui-icon"></i> 添加活动</button>
                    <button type="button" class="layui-btn layui-btn-sm" data-type="toolActDel"><i class="layui-icon"></i> 删除活动</button>
                </div>
                <table class="layui-hide" id="table-act" lay-filter="acttool"></table>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6">
            <div class="list-wall">
                <div class="layui-form list-search">
                    <button type="button" class="layui-btn layui-btn-sm" data-type="toolUserAdd"><i class="layui-icon"></i> 添加会员</button>
                    <button type="button" class="layui-btn layui-btn-sm" data-type="toolUserDel"><i class="layui-icon"></i> 删除会员</button>
                </div>
                <table class="layui-hide" id="table-user" lay-filter="usertool"></table>
            </div>
        </div>
    </div>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    form = layui.form;
                table.render({
                    elem: '#tablist',
                    url: '/api/shops/list',
                    height: 300,
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'shopName', title: '店铺名称', sort: true, fixed: 'left', event: 'gotool' },
                            { field: 'loginName', title: '登录账号', event: 'gotool' },
                            { field: 'adminName',  title: '负责人', event: 'gotool' },
                            { field: 'mobile',  title: '联系方式', sort: true, event: 'gotool' },
                            { field: 'shopCity',  title: '所在地区', sort: true, event: 'gotool' },
                            { field: 'regDate',  title: '添加时间', event: 'gotool' },
                            { width: 200, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: true,
                    limit: 1000,
                    id: 'tables'
                });

                //活动
                table.render({
                    elem: '#table-act',
                    url: '/api/shops/actlist',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'methodName', title: '活动方式' },
                            { field: 'countNum',width:80, title: '折扣数' },
                            { field: 'beginDate', title: '开始时间', sort: true },
                            { field: 'endDate', title: '结束时间', sort: true },
                            { field: 'status', title: '状态' },
                            { title: '操作', templet: '#acttool' }
                        ]
                    ],
                    page: true,
                    limit: 10,
                    id: 'act-tables'
                });

                //会员
                table.render({
                    elem: '#table-user',
                    url: '/api/shops/userlist',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'userName', title: '姓名', sort: true, fixed: 'left' },
                            { field: 'mobile', title: '手机号码' },
                            { field: 'points', title: '积分数' },
                            { field: 'sex', title: '性别', sort: true },
                            { field: 'regDate', title: '注册时间' },
                            { title: '操作', templet: '#usertool' }
                        ]
                    ],
                    page: true,
                    limit: 10,
                    id: 'user-tables'
                });

                var shopGuid = '', active = {
                    //店铺重载
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: $("#shopkey").val()
                                }
                            });
                    },
                    //点击店铺查询活动和店铺会员
                    reloadActAndUser: function () {
                        table.reload('act-tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    guid: shopGuid
                                }
                            });
                        table.reload('user-tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    guid: shopGuid
                                }
                            });
                    },
                    //店铺搜索
                    toolSearch: function () {
                        active.reload();
                    },
                    //添加活动
                    toolActAdd: function () {
                        if (shopGuid === '') {
                            os.warning('请选择店铺~'); return;
                        }
                        os.Open('添加活动', '/fytadmin/shop/activitymodify?shop=' + shopGuid, '850px', '450px', function () {
                            active.reloadActAndUser();
                        });
                    },
                    //删除活动
                    toolActDel: function () {
                        var checkStatus = table.checkStatus('act-tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.warning("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/shops/deleteact/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reloadActAndUser();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });
                    },
                    //添加会员
                    toolUserAdd: function () {
                        if (shopGuid === '') {
                            os.warning('请选择店铺~'); return;
                        }
                        os.Open('添加会员', '/fytadmin/shop/usermodify?shop=' + shopGuid, '600px', '450px', function () {
                            active.reloadActAndUser();
                        });
                    },
                    //删除会员
                    toolUserDel: function () {
                        var checkStatus = table.checkStatus('user-tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.warning("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/shops/deleteuser/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reloadActAndUser();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });
                    },
                    //添加店铺
                    toolAdd: function () {
                        os.Open('添加店铺', '/fytadmin/shop/shopmodify', '850px', '500px', function () {
                            active.reload();
                        });                        
                    },
                    //删除店铺
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.warning("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/shops/delete/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑店铺', '/fytadmin/shop/shopmodify/?guid=' + data.guid, '850px', '500px', function () {
                            active.reload();
                        })
                    }
                    if (obj.event === 'gotool') {
                        shopGuid = data.guid;
                        active.reloadActAndUser();
                    }
                    if (obj.event ==='staff') {
                        var winH = $(window).height();
                        layuiIndex = layer.open({
                            title: '员工管理'
                            , type: 2
                            , area: ['700px', winH-60+'px']
                            , shade: [0.1, '#333']
                            , resize: false
                            , anim: -1
                            , offset: 'rb'
                            , shadeClose: true
                            , skin: 'layer-anim-07'
                            , content: "/fytadmin/shop/staffindex?shop=" + data.guid
                            , end: function () {
                                
                            }
                        });
                    }
                });
                //监听工具条
                table.on('tool(acttool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑活动', '/fytadmin/shop/activitymodify/?guid=' + data.guid + "&shop=" + shopGuid, '850px', '500px', function () {
                            active.reloadActAndUser();
                        })
                    }
                });
                //监听工具条
                table.on('tool(usertool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        os.Open('编辑会员', '/fytadmin/shop/usermodify/?guid=' + data.guid + "&shop=" + shopGuid, '600px', '450px', function () {
                            active.reloadActAndUser();
                        })
                    }
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="staff"><i class="layui-icon"></i> 员工管理</a>
    </script>
    <script type="text/html" id="acttool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
    <script type="text/html" id="usertool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>

