@page
@model FytSoa.Web.Pages.FytAdmin.Shop.PushModifyModel
@{
    ViewData["Title"] = "消息管理";
    Layout = "~/Pages/FytAdmin/_Layout.cshtml";
}
<style>
    .layui-textarea{min-height:60px;}
</style>
<form class="layui-form form-cus" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">消息类型</label>
        <div class="layui-input-block">
            <select class="layui-input" lay-verify="required" lay-search="">
                <option value="">搜索或选择</option>
                <option value="1">全部</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消息标题</label>
        <div class="layui-input-block">
            <input type="text" name="Title" value="" lay-verify="required" lay-verType="tips" autocomplete="off" placeholder="请输入消息标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">消息内容</label>
        <div class="layui-input-block">
            <textarea name="Summary" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="button" class="layui-btn layui-btn-primary btn-open-close">取消</button>
        </div>
    </div>
    <input type="hidden" name="Guid" id="Guid" value="" />
</form>
@section Scripts{
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['layer', 'jquery', 'common', 'form'], function () {
            var form = layui.form, $ = layui.$, os = layui.common;
            var index = parent.layer.getFrameIndex(window.name);
            //监听提交
            form.on('submit(submit)', function (data) {
                var urls = "api/shops/addpush";
                if ($("#Guid").val()) {
                    urls = "api/shops/editpush";
                }
                os.ajax(urls, data.field, function(res) {
                    parent.layer.close(index);
                });
                return false;
            });
            $(".btn-open-close").on('click', function () {
                parent.layer.close(index);
            });
        });
    </script>
}

