@page "{type?}"
@model FytSoa.Web.Pages.FytAdmin.Purchase.IndexModel
@{
    ViewData["Title"] = "采购管理";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <input class="layui-input" id="key" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            采购日期：
            <div class="layui-inline lay-time-icon">
                <input class="layui-input" id="times" autocomplete="off" placeholder="时间区间"><i class="layui-icon layui-icon-date"></i>
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolDel"><i class="layui-icon"></i> 删除</button>
            <button style="margin-left:40px;" type="button" class="layui-btn layui-btn-sm@(Model.Type==1 ? "" :" layui-btn-disabled")" @(Model.Type == 1 ? "" : "disabled") lay-event="toolStatus"><i class="layui-icon layui-icon-cart"></i> 入库</button>
            <button type="button" class="layui-btn layui-btn-sm@(Model.Type==2 ? "" :" layui-btn-disabled")" @(Model.Type == 2 ? "" : "disabled") lay-event="toolStatus"><i class="layui-icon layui-icon-rmb"></i> 付款</button>
            <button type="button" class="layui-btn layui-btn-sm@(Model.Type==3 ? "" :" layui-btn-disabled")" @(Model.Type == 3 ? "" : "disabled") lay-event="toolStatus"><i class="layui-icon layui-icon-file-b"></i> 到票</button>
        </div>
    </script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common', 'form', 'laydate'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    form = layui.form
                ,laydate = layui.laydate;
                form.render('select');
                laydate.render({
                    elem: '#times'
                    , theme: '#393D49'
                    , format: 'yyyy/MM/dd'
                    , range: true
                });
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/purchase/purchaselist?types=@Model.Type',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'number',width:200, title: '采购单号', sort: true, fixed: 'left' },
                            { field: 'status', title: '入库状态' },
                            { field: 'supplier', title: '供应商', sort: true },
                            { field: 'addDate', title: '采购日期', sort: true },
                            { field: 'money', title: '订单总金额', sort: true },
                            { field: 'deliverDate', title: '交付日期', sort: true },
                            { field: 'deliverCity', title: '交付地点', sort: true },
                            { width: 100, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    id: 'tables'
                });

                var guid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: $("#key").val(),
                                    guid: $("#branks").val()
                                }
                            });
                    },
                    toolStatus: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要变更的采购单~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        var loadindex = layer.load(1, {
                            shade: [0.1, '#000']
                        });
                        os.ajax('api/purchase/modifystatus/', { parm: str }, function (res) {
                            layer.close(loadindex);
                            if (res.statusCode === 200) {
                                active.reload();
                                os.success('变更成功！');
                            } else {
                                os.error(res.message);
                            }
                        });
                    },
                    toolSearch: function () {
                        active.reload();
                    },
                    toolAdd: function () {
                        os.Open('添加采购单', '/fytadmin/purchase/modify', '1200px', '700px', function () {
                            active.reload();
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/goods/delbarcode/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };
                table.on('toolbar(tool)', function (obj) {
                    active[obj.event] ? active[obj.event].call(this) : '';
                });
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    os.Open('修改采购单', '/fytadmin/purchase/modify?guid='+data.guid, '1200px', '700px', function () {
                        active.reload();
                    });
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>

