@page
@model FytSoa.Web.Pages.FytAdmin.Purchase.SupplierModel
@{
    ViewData["Title"] = "供应商管理";
    Layout = AdminLayout.Pjax(HttpContext);
}
<div id="container">
    <div class="list-wall">
        <div class="layui-form list-search">
            <div class="layui-inline">
                <input class="layui-input" id="key" autocomplete="off" placeholder="请输入关键字查询">
            </div>
            <button type="button" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolDel"><i class="layui-icon"></i> 删除</button>
        </div>
    </script>
    <script>
        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'common'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common;
                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    url: '/api/purchase/supplierlist',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'name', width: 300, title: '供应商名称', sort: true, fixed: 'left' },
                            { field: 'contacts', title: '联系人' },
                            { field: 'mobile', title: '联系方式' },
                            { field: 'email', title: '邮箱' },
                            { field: 'summary', title: '描述' },
                            { field: 'addDate', title: '添加时间', sort: true },
                            { width: 100, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    id: 'tables'
                });

                var guid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    key: $("#key").val()
                                }
                            });
                    },
                    toolSearch: function () {
                        active.reload();
                    },
                    toolAdd: function () {
                        var winH = $(window).height();
                        var layIndex = layer.open({
                            title: '添加供应商'
                            , type: 2
                            , area: ['850px', winH - 60 + 'px']
                            , shade: [0.1, '#333']
                            , resize: false
                            , anim: -1
                            , offset: 'rb'
                            , shadeClose: false
                            , skin: 'layer-anim-07'
                            , content: "/fytadmin/purchase/suppliermodify"
                            , end: function () {
                                active.reload();
                            }
                            , cancel: function (index) {
                                var $layero = $('#layui-layer' + index);
                                $layero.animate({
                                    left: $layero.offset().left + $layero.width()
                                }, 300, function () {
                                    layer.close(index);
                                });
                                return false;
                            }
                        });
                        $("#layui-layer-shade" + layIndex).click(function () {
                            var $layero = $('#layui-layer' + layIndex);
                            $layero.animate({
                                left: $layero.offset().left + $layero.width()
                            }, 300, function () {
                                layer.close(layIndex);
                            });
                        });

                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要删除的项目~");
                            return;
                        }
                        var str = '';
                        $.each(data, function (i, item) {
                            str += item.guid + ",";
                        });
                        layer.confirm('确定要执行批量删除吗？', function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/goods/delbarcode/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    }
                };
               
                table.on('toolbar(tool)', function (obj) {
                    active[obj.event] ? active[obj.event].call(this) : '';
                });
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                //监听工具条
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        /*os.Open('编辑供应商', '/fytadmin/purchase/suppliermodify/?guid=' + data.guid, '850px', '550px', function () {
                            active.reload();
                        })*/
                        var winH = $(window).height();
                        layer.open({
                            title: '编辑供应商'
                            , type: 2
                            , area: ['850px', winH - 60 + 'px']
                            , shade: [0.1, '#333']
                            , resize: false
                            , anim: -1
                            , offset: 'rb'
                            , shadeClose: true
                            , skin: 'layer-anim-07'
                            , content: "/fytadmin/purchase/suppliermodify/?guid=" + data.guid
                            , end: function () {
                                active.reload();
                            }
                        });
                    }
                });
            });
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>
